<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/beans 
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/aop 
            http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
            http://www.springframework.org/schema/data/jpa
            http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<!-- Root Context: defines shared resources visible to all other web components -->

	<context:component-scan
		base-package="com.cs.base.interactor.*, com.cs.base.controller.model, 
		com.cs.config.interactor.*, com.cs.config.strategy.*,com.cs.runtime.interactor.*, 
		com.cs.runtime.strategy.*,com.cs.base.strategy.inmemory.configuration, 
		com.cs.base.strategy.elastic.configuration, com.cs.base.strategy.neo4j.configuration" />

	<aop:aspectj-autoproxy />

	<bean id="logServerIP" class="java.lang.String">
		<constructor-arg value="192.168.134.200" />
	</bean>

	<bean id="logServerPort" class="java.lang.String">
		<constructor-arg value="4000" />
	</bean>

	<bean id="loggerMode" class="java.lang.String">
		<constructor-arg value="server" />
	</bean>

	<bean id="logFilePath" class="java.lang.String">
		<constructor-arg value="D:/ContentSphereLog.log" />
	</bean>

	<bean id="mode" class="java.lang.String">
		<constructor-arg value="Development" />
	</bean>
	
	<bean id="elasticSearchHost" class="java.lang.String">
    <constructor-arg value="192.168.134.200" />
  </bean>
  
  <bean id="elasticSearchPort" class="java.lang.String">
    <constructor-arg value="9200" />
  </bean>
  
  <bean id="elasticSearchIndexName" class="java.lang.String">
    <constructor-arg value="allianz" />
  </bean>
  
  <bean id="elasticSearchIndexAlias" class="java.lang.String">
    <constructor-arg value="contentSphere" />
  </bean>
  
  <!-- This property cannot be updated, In case you need to update it use 
  shouldReindexElasticSearch = true -->
  <bean id="numberOfShards" class="java.lang.String">
    <constructor-arg value="5" />
  </bean>
  
  <bean id="numberOfReplicas" class="java.lang.String">
    <constructor-arg value="1" />
  </bean>
  
  <bean id="shouldReindexElasticSearch" class="java.lang.Boolean">
    <constructor-arg value="false" />
  </bean>

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="1" />
		<property name="maxPoolSize" value="2" />
		<property name="WaitForTasksToCompleteOnShutdown" value="true" />
	</bean>
	
	<bean id="notificationTaskExecutor"
    class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
    <property name="corePoolSize" value="3" />
    <property name="maxPoolSize" value="5" />
    <property name="WaitForTasksToCompleteOnShutdown" value="true" />
  </bean>

	<bean id="assetStoreURL" class="java.lang.String">
		<constructor-arg value="http://192.168.134.200:8085/" />
	</bean>

	<util:map id="assetStoreAuthenticationMap">
		<entry key="account" value="allianz" />
		<entry key="user" value="allianz" />
		<entry key="passkey" value="pass@123" />
	</util:map>

	<util:list id="cookies" value-type="java.lang.String">
	</util:list>

	<bean id="neo4jHost" class="java.lang.String">
		<constructor-arg value="192.168.134.200" />
	</bean>

	<bean id="neo4jPort" class="java.lang.String">
		<constructor-arg value="7474" />
	</bean>

	<bean id="neo4jUser" class="java.lang.String">
		<constructor-arg value="neo4j" />
	</bean>

	<bean id="neo4jPassword" class="java.lang.String">
		<constructor-arg value="pass1234" />
	</bean>
	
	<util:map id="mandatoryData">
		<entry key="ownerId" value="" />
	</util:map>

	<bean id="smtpUsername" class="java.lang.String">
		<constructor-arg value="kontentsphere@gmail.com" />
	</bean>
	
		<bean id="smtpPassword" class="java.lang.String">
		<constructor-arg value="kontentsphere1" />
	</bean>
	
	<bean id="smtpHost" class="java.lang.String">
		<constructor-arg value="smtp.gmail.com" />
	</bean>
	
	<bean id="smtpPort" class="java.lang.String">
		<constructor-arg value="587" />
	</bean>
	
	<bean id="newContentTypeName" class="java.lang.String">
		<constructor-arg value="Herbstwerbung" />
	</bean>
	
</beans>
